name: Tests

on: [push, pull_request]

jobs:
  run:
    name: Node ${{ matrix.node }}
    runs-on: ubuntu-latest
  
    strategy:
      fail-fast: false
      matrix:
        node: [10, 12]
        
    steps:
      - name: Clone repository
        uses: actions/checkout@v1
        with:
          fetch-depth: 3
     
      - name: Set up vs code window
        run: |
          if [ $TRAVIS_OS_NAME == "linux" ]; then
            export DISPLAY=':99.0'
            /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          fi
          
      - name: Set Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      
      - run: node --version
      - run: npm --version
      
      - name: Install npm dependencies
        run: npm i
      
      - name: Run vsce prepublish
        run: npm run vscode:prepublish


      - name: Run tests
        run: npm test
